@import url('./styles.css');

.btn-primary {
    background-color: var(--color-button-primary);
    border: none;
    padding: 0.6rem 1.2rem;
    border-radius: 0.375rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none;
}

.btn-primary:hover {
    background-color: darken(var(--color-button-primary), 10%);
}

.btn-secondary {
    background-color: transparent;
    border: 2px solid var(--color-button-primary);
    padding: 0.55rem 1.15rem;
    border-radius: 0.375rem;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    text-decoration: none;
}

.btn-secondary:hover {
    background-color: var(--color-button-primary);
    color: var(--color-white);
}
