@import url('./styles.css');

.navbar-custom {
    background: linear-gradient(to bottom, var(--color-navbar) 90%, rgba(43, 15, 23, 0) 100%);
    padding: 0.5rem 2rem;
}

.navbar-brand.logo {
  font-weight: bold;
}

.navbar-brand.logo:hover {
  color: var(--color-white) !important;
  text-decoration: none;
}

.navbar-custom .nav-link {
  color: var(--color-dark);
  font-weight: 500;
}

.navbar-custom .nav-link:hover {
  scale: 1.1;
}

.navbar-custom .nav-link.active {
  border-bottom: 2px solid var(--color-accent);
  color: var(--color-white);
  font-weight: 600;
  border-bottom: 2px solid var(--color-white);
}

.navbar-logo {
    border-radius: 40px;
    height: 60px;
    margin: 0;
    margin-right: 10px;
    padding: 0;
}

.navbar-brand.logo,
.navbar-brand.logo:visited,
.navbar-brand.logo:focus,
.navbar-brand.logo:active {
  color: var(--color-white) !important;
  text-decoration: none !important;
}