:root {
  /* Fonts */
  --font-primary: 'Spectral SC', serif;
  --font-secondary: 'Crimson Pro', serif;

  /* Font Sizes */
  --font-size-xl: 3.375rem; /* 54px */
  --font-size-lg: 2.625rem; /* 42px */
  --font-size-md: 1.5rem;   /* 24px */
  --font-size-s: 1rem;    /* 16px */
  --font-size-xs: 0.875rem; /* 14px */

  /* Colors */
  --color-white: #ffffff;
  --color-gray: #919191;

  /* Backgrounds */
  --color-background: #15010B; /* Fondo oscuro */
  --color-navbar: #221217f3;
  --color-transparent: #421020c4;
  
  /* Botones */
  --color-button-dark: #1e1e1e; /* Botones oscuros */
  --color-button-dark-hover: #2e2e2e; /* Hover botones oscuros */

  --color-button-primary: #AD1D45; /* Botones primarios */
  --color-button-primary-hover: #ad264d; /* Hover botones oscuros */
}